.Rproj.user
.Rhistory
.Ruserdata
.RDataTmp
.RData
/Orbis companies 2021
/Orbis deals list level 1
/Orbis deals list level 2
/Orbis deals list level 3
ImportAssets.xlsx
ImportDepr.xlsx
ImportEBIT.xlsx
ImportEBT.xlsx
ImportEC.xlsx
ImportFA.xlsx
ImportNI.xlsx
ImportTax.xlsx
ImportTurnover.xlsx
ImportWC.xlsx
Merge1.xlsx
Merge2.xlsx
NodelistALL.xlsx
/GesamtdatenexportBNA